<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="0380fda2-3913-4018-a800-42b3b8f10ef2" activeEnvironment="Default environment" name="REST Project 5" lastOpened="2017-01-18T12:02:50.423+05:30" resourceRoot="" soapui-version="6.0.0" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/TS010188/NB-5.0.git</con:repositoryIdentifier></con:vcsConfiguration><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>